
/*	Micro Clearfix
	http://nicolasgallagher.com/micro-clearfix-hack/
	-------------------- */
.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

/*	Clear
	-------------------- */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*	Inline-Block
	-------------------- */
.iblock {
	display: -moz-inline-stack;
	-moz-box-orient: vertical;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	*zoom: 1;
}

/* 	Quick float
	-------------------- */
.fr { 
	display: inline;
	float: right;
}

.fl { 
	display: inline;
	float: left;
}

.fn { 
	display: block;
	float: none;
}

/* 	Text Alignment
	-------------------- */
.left {
	text-align: left
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

/* 	Break text
	-------------------- */
.break {
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
}

/* 	Truncate text
	-------------------- */
.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

/* 	Hide text
	-------------------- */
.hide-text {
	overflow: hidden;
	text-align: left;
	text-indent: -119988px;
}

/*	Image Replacement
	-------------------- */
.ir { 
	border:0; 
	font: 0/0 a; 
	text-shadow: none; 
	color: transparent; 
	background-color: transparent; 
}

/* 	Hide/show element
	-------------------- */
.hide { 
	display: none; 
	visibility: hidden; 
}

.show { 
	display: block;
	visibility: visible;
}

.invisible { 
	visibility: hidden; 
}

/* 	Positions
	-------------------- */
.first { 
	margin-left: 0; 
	padding-left: 0; 
}

.last { 
	margin-right: 0;
	padding-right: 0;
}

.top { 
	margin-top: 0; 
	padding-top: 0; 
}

.bottom { 
	margin-bottom: 0; 
	padding-bottom: 0; 
}

/* 	Screen readers only
	-------------------- */
.screen-reader-text {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}